# =========================

# Python

# =========================

**pycache**/
*.py[cod]
*.so
*.egg-info/
.pytest_cache/
.mypy_cache/
tokens/
data/raw/
# =========================

# Virtual Environment

# =========================

.venv/
venv/

# =========================

# Environment Variables

# =========================

.env
.env.*

# =========================

# Jupyter

# =========================

.ipynb_checkpoints/

# =========================

# VS Code

# =========================

.vscode/
.idea/

# =========================

# Logs

# =========================

logs/
*.log

# =========================

# dbt

# =========================

target/
dbt_packages/
package-lock.yml

# =========================

# Snowflake Credentials

# =========================

connections.toml

# =========================

# Secrets

# =========================

tokens/
*.pem
*.key
*.p8
*.csv

# =========================

# OS Files

# =========================

.DS_Store
Thumbs.db

# =========================

# Temporary Exports

# =========================

data/exports/*
!data/exports/.gitkeep

.databricks
